body {
    padding-left: 15px;
}

.menu{
    background: #2d995e; 
    border-style: solid;
    border-width: 1px;
    margin-top: 0;
    padding: 5px 50px 5px 10px;
}

a{
    color: #48f798;
    font-family: 'calibri';
}

.titulo_blog{
    color: #58ACFA;
    font-family: 'calibri';
    background: #8e1795;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.titulo_entrada{
    color: #8e1795;
    font-family: 'calibri';
}

.una_entrada{
    margin-top: 0;
    padding: 20px 10px 20px 40px;
    background: #58ACFA;
}

.fecha_publi{
    font-family: monospace;
}

.texto_cuerpo{
    font-family: 'calibri';
}

.titulo_formulario{
    color: #bb105e;
    font-family: 'calibri';
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

form{
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.opcion_editar{
    color: #58ACFA;
    background: #bb105e;
}

p{
    color: #733b86;
    font: 'calibri' 14px;
}
